*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*::-webkit-scrollbar{
    display: none;
}

body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a{
    text-decoration:none;
    color:white;
}